.container.container-style
    .row
        .col.s9
            h4.text-center.header-style My Personal Details
        button.btn.btn-primary.col.s3.button-margin(routerLink='/confirm') View all users

    form(name='userDetailsForm', #userDetailsForm="ngForm", (ngSubmit)='saveUserDetails()')
        .form.row
            .col.s12

                //Name
                .row
                    .col.s6
                        .padding.field-border
                            .input-field
                                input#first_name.validate(type='text', pattern="[A-Za-z]{2,16}", placeholder='First Name', name='first_name', [(ngModel)]='user.firstName')
                                label(for='first_name' data-error="Alphabets only!") Name as per ID

                    .col.s6
                        .padding.field-border
                            .input-field
                                input#last_name.validate(type='text', name='last_name', pattern="[A-Za-z]{0,16}", [(ngModel)]='user.lastName')
                                label(for='last_name' data-error="Alphabets only!") Last name

                .row
                    .col.s4
                        .padding.field-border
                            label(for='dob') Date of birth
                            input#dob.datepicker(type='text', name='dob', [(ngModel)]='user.dob', (focus) ='setDOB($event)')
                    .col.s2
                        .padding.field-border
                            .input-field.age-padding
                                span Age : {{user.age}}
                    .col.s6
                        .gender-padding.field-border
                            input#male(name="gender", type="radio", value="1", [(ngModel)]='user.gender')
                            label.margin-left-20(for="male") Male
                            input#female(name="gender", type="radio", value="2", [(ngModel)]='user.gender')
                            label.margin-left-20(for="female") Female

                    .col.s6.occupation-padding
                        select#occupations.form-control.validate.browser-default(name='occupation', [(ngModel)]='user.occupation')
                            //option.float-right(*ngFor='let occupation of occupations', [ngValue]='occupation.id') {{occupation.name}}
                            option(value='', disabled='', selected='') Select Occupation
                            option.float-right(value='Student') Student
                            option.float-right(value='Teacher') Teacher
                            option.float-right(value='Other') Other

                //Address
                .row.field-border
                    .col.s12
                        .padding
                            .input-field
                                input.validate(id='address_line_1', type='text', placeholder='Address line 1', pattern="[A-Za-z0-9#/- ]{0,32}", name="address_line_1",  [(ngModel)]='user.address_line_1')
                                label(for='address_line_1' data-error="Only # / - allowed") Address
                    .col.s12
                        .padding
                            .input-field
                                input.validate(id='address_line_2', type='text', pattern="[A-Za-z0-9#/- ]{0,32}", name="address_line_2",  [(ngModel)]='user.address_line_2')
                                label(for='address_line_2' data-error="Only # / - allowed") Address line 2
                    .col.s12
                        .padding
                            .input-field
                                input.validate(id='address_line_3', type='text', pattern="[A-Za-z0-9#/- ]{0,32}", name="address_line_3",  [(ngModel)]='user.address_line_3')
                                label(for='address_line_3' data-error="Only # / - allowed") Address line 3

                //Mobile numbers
                .row
                    .col.s6(*ngFor='let phone of phones; let i=index')
                        .padding
                            .input-field
                                input.validate(id='phone{{i}}', type='text', pattern="[0-9]{10}", name="phone{{i}}",  [(ngModel)]='phone.number')
                                label(for='phone{{i}}' data-error="Numbers only!") Mobile number
                    .input-field.col.s3.float-right
                        a.btn.primary((click)='addMorePhones()') Add


                //ID proofs section
                .row
                    .col.s10.row-padding(*ngFor='let IdProof of IdProofs; let i=index')
                            .col.s6.id-padding
                                select#ID.form-control.validate.browser-default(name='id_proof', [(ngModel)]='IdProof.idProofType')
                                    //option.float-right(*ngFor='let idProoftype of idProofTypes', [ngValue]='idProoftype.id') {{idProoftype.name}}
                                    option(value='', disabled='', selected='') ID Type
                                    option.float-right(value='Aadhaar') Aadhaar Card
                                    option.float-right(value='Voter') Voter ID
                                    option.float-right(value='PAN') PAN Card
                            .col.s6
                                .input-field
                                    input#idProofValue(type='text', name='idProofValue', [(ngModel)]='IdProof.idProofValue')
                                    label(for='idProofValue') ID Proof number
                    .input-field.col.s2.float-right
                        a.btn.primary((click)='addMoreProofs()') Add

                //Submit button
                .row
                    .col.s7
                        button.btn.btn-info.right(type='submit', [disabled]='!userDetailsForm.valid') Save Details
